.gallery {
  display: grid;
  width: 400px;
  border: 5px;
  background-color: rgb(10, 236, 85);
  text-align: center;
  border-radius: 40px;
  padding: 10px 10px;
  margin-right: auto;
  margin-left: auto;
  list-style-type: none;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
